
    <h1>Ingresá un producto</h1>

    <div id="productsPool">
        <form id="productForm">
            <input type="text" id="nameInput" placeholder="Nombre" name="title"> <br>
            <input type="text" id="priceInput" placeholder="Precio" name="price"> <br>
            <input type="text" id="thumbnailInput" placeholder="URL de la imagen" name="thumbnail"> <br>
            <input type="submit" value="Confirmar">
        </form>
    </div>


    <h1>Centro de Mensajes</h1>


        <form id="messageForm" style="margin-top: 1em">
            <input id="emailInput" type="email" placeholder="Correo Electrónico" name="e-mail">
            <input id="messageInput" type="text" placeholder="Mensaje" name="message">
            <input type="submit" value="Enviar">
        </form>