<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
</head>
<body>

    <ul>
        <% products.forEach(product => { %> 
            <li>
                <p>Nombre: <%= product.name %>.</p>
                <p>Precio: $<%= product.price %>.</p>
                <img src= "<%= product.thumbnail %>" width="75">
            </li>
        <% }) %>
    </ul>

    <button id="buttonToForm">Cargar nuevo producto</button>



    <script>
        const buttonToForm = document.getElementById("buttonToForm");
        buttonToForm.addEventListener("click", (event)=> { window.location= "/"; });
    </script>

</body>
</html>